.project-component {
    text-align: center;
    padding: 20px;
    color: #777;
  }
  
  .project-heading {
    font-size: 2rem;
    color: #2c8fb5;
    margin-bottom: 20px;
  }

  .proj-title{
    color: #e82c02;
  }
  
  .project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .project-card {
    width: 300px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2.5px 6px #2c8fb5;
    text-align: center;
    transition: transform 0.2s;

  /* background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2); */
  }
  .project-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow:0 2.5px 4px #e74c3c ;
  }
  
  .project-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    transition: color 0.2s; /* Added transition for smooth color change */
  }
  
  .project-card a:hover {
    color: #0056b3; /* Change the color on hover */
  }
  
  .project-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .project-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  
.see-more-button-container {
  text-align: center;
}

.see-more-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2c8fb5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.see-more-button:hover {
  background-color: #13749a;
}